# Scraper (Python) Environment

# Riot & Esports API Keys
RIOT_API_KEY=your_riot_api_key_here
ESPORTS_API_KEY=your_esports_api_key_here

# Elasticsearch
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_PORT=9200
KIBANA_PORT=5601

# Regions
DEFAULT_PLATFORM_REGION=BR1
ALLOWED_PLATFORMS=BR1,NA1,EUW1,EUN1,KR,JP1,LA1,LA2,OC1,TR1,RU